[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.0,>=4.2"
djangorestframework = ">=3.14.0"
django-cors-headers = ">=4.0.0"
gunicorn = ">=20.1.0"
psycopg2-binary = ">=2.9.0"
dj-database-url = ">=2.0.0"
whitenoise = ">=6.4.0"
boto3 = ">=1.34"
python-dotenv = ">=1.0.0"
django-storages = {extras = ["boto3"], version = ">=1.14"}
django-ckeditor-5 = "*"
python-decouple = "*"
supabase = "*"

[dev-packages]

[requires]
python_version = "3.12"
