<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/stylesheet.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>       
        <div class="header_contents">
            <img src="../images/logo.png" class="logo">
            <nav class="nav1">
                <ul class="nav_cont">
                    <li>Home</li>
                    <li>About us</li>
                    <li>Products</li>
                    <li>Services</li>
                </ul>
                </nav>
                <nav class="nav2">
                <ul class="user_control">
                    <li>Login</li>
                    <li class="signup">Sign up</li>
                </ul>
            </nav>
        </div>
    </body>
</html>
