<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/stylesheet.css">
</head>
<body>
        <div class="footercontainer">
            <div class="contact">
                <a href="mailto:forniengg@yahoo.com"><img
                    src="../images/email.svg"><p>forniengg@yahoo.com</p></a>
                <a href="tel:+923004282482"><img
                    src="../images/phone.svg"><p>+923004282482</p></a>
            </div>
            <div class="location">
                <p class="tagline">where to find us !!</p>
                <a><img src="../images/location.svg"><p>24 upperMall Lahore</p></a>
            </div>
        </div>
</body>
</html>