.header_contents {
    display: flex;
    justify-content: justify;
    align-items:center;
    background-color: lightgray;
}

.logo {
    width: 100px;
    height: 100px;
}

.nav_wrapper {
    display: flex;
    flex-grow:1;
    justify-content:center;
}

.nav_cont {
    display:flex;
    list-style: none;
}
.nav_cont li{
    margin: 0 20px;
    font-size:40px;
}
.user_control{
    display:flex;
    list-style:none;
}
.user_control li{
    margin: 0 20px;
    font-size:40px;
}